@import 'app/assets/styles/variables';

.burger {
  @media (min-width: $md) {
    display: none;
  }
}

.burgerIcon {
  background-color: $color-black-shades-8;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
