body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    position: relative;
    /* firefox */
}

body::-webkit-scrollbar {
    display: none;
}

html {
    scroll-snap-type: y mandatory;
}

.scroll-container {
    position: fixed;
    left: 0;
    right: 0;
    will-change: transform;
    z-index: -3;

}

.ghost {
    width: 100vw;
}

.thumbnails-container {
    position: relative;
    height: 100vh;
    width: max-content;
    display: flex;
    align-items: center;
    padding: 0px 160px;

}

.thumbnails {
    position: relative;
    display: flex;
}

.thumbnails *:not(:last-child) {
    margin-right: 45px;
}

.thumbnail {
    height: 40vh;
    width: 700px;
    background-color: royalblue;
    border: 15px solid magenta;
}



.item {
    overflow: visible;
    stroke: #2d2d2d;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.box {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #9381FF;
    position: absolute;
    z-index: 300;
}

.square {
    width: 100px;
    height: 100px;
    background: #fff;
    margin-top: 51rem;
}

.parallax-link--children-item {
    position: relative;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    color: #141414;
}

.parallax-link--children-item::before {
    content: '';
    height: 2px;
    width: 100%;
    background: #9381FF;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 3;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform .4s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.parallax-link--children-item:hover::before {
    transform: scaleX(1)
}

@media screen and (max-width: 990px) {
    .work_history-step:last-child.work_history-step::before {
        display: none;
    }

    .work_history-step::before {
        content: '';
        width: 30px;
        height: 2px;
        background: #9381FF;
        position: absolute;
        left: -2px;
        bottom: -15px;
        transform: rotate(90deg)
    }

    .work_history-step--uncompleted::before {
        content: '';
        width: 30px;
        height: 2px;
        background: #ccc;
        position: absolute;
        left: -2px;
        bottom: -15px;
        transform: rotate(90deg)
    }
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}