@import 'app/assets/styles/variables';

.maineFooter {
  padding: 40px 20px;
  display: grid;
  grid-gap: 48px;
  @media (min-width: $md) {
    padding: 40px 48px;
  }
  @media (min-width: $md) {
    padding: 40px 48px 48px;
  }
  .maineFooterLogo {
    width: 48px;
  }
}

.linksContainer,
.termsContainer {
  display: flex;
  justify-content: space-between;
}

.linksContainer {
  align-items: center;
  @media (max-width: $md) {
    display: none;
  }
  nav {
    grid-gap: 30px;
  }
}

.termsContainer {
  font-size: 12px;
  @media (max-width: $md) {
    grid-gap: 32px;
    grid-template: 'links' 'copiright';
    display: grid;
    justify-items: center;
    justify-content: center;
  }
}

.termsLinks {
  grid-area: links;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 24px;
  align-items: center;

  a {
    color: $color-black-shades-80;
  }
}

.copyright {
  margin: 0;
  color: $color-black-shades-80;
}
