@import 'app/assets/styles/variables';

.secondFooterContainer {
  padding: 40px 20px;
  display: grid;
  border-bottom: solid 1px $color-black-shades-12;
  grid-gap: 48px;
  @media (min-width: $md) {
    padding: 40px 48px;
  }
  @media (min-width: $md) {
    padding: 40px 48px 48px;
    grid-template-columns: 568px;
    grid-auto-flow: column;
    justify-content: space-between;
    grid-gap: 0;
  }

  div:last-child {
    justify-self: center;
  }
}
