@import '@/styles/globals'
@import '@/styles/variables'

.Wrapper
  display: flex
  align-items: center
  flex-direction: column
  flex-wrap: nowrap

.HomeText
  width: 100%
  text-align: center

.HomeRotated
  position: relative

.HomeScrollDown
  animation: scrollDown 7s infinite ease

@keyframes scrollDown
  0%
    bottom: 0
  50% 
    bottom: 50px
  100% 
    bottom: 0



  