@import 'app/assets/styles/variables';

.drawer {
  width: 100vw;
  height: 100vh;
}

.drawerContainer {
  margin: 96px 20px 40px;
  display: grid;
  height: 100%;
  align-content: space-between;
}

.linksContainer {
  display: grid;
  grid-gap: 12px;
}

.bottomContainer {
  display: grid;
  grid-gap: 30px;

  div:last-child {
    text-align: center;
  }

  a {
    path {
      fill: $color-black-shades-48;
    }
  }
}
